:root{

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: black;
    color: whitesmoke;
}

header>h1 {
  background-color:yellow;
  padding: 10px 10px 10px 50px;
  margin: 20px 20px 20px 0px;
}

header > nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 10px;
    background-image: linear-gradient(270deg, blue 0%, purple 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
     transition: all 0.5s ease-in; 
    font-size: 1.8rem;

}

nav a:hover {
    background-size: 100% 100%;
    color: red;
  }
  

 main {
     margin: 45px 20px;
     border: yellowgreen 2px solid;
 } 


 .hero-banner {
    background-image: url("./images/diana-banner.jpg"), linear-gradient(180deg, blue 0%, purple 100%);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 70vh;
    color: white;
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    font-size: larger;
    font-style: italic;
  }