:root {
    --primary: rgba(68, 88, 119, 1);
    --secondary: rgba(146, 204, 206, 1);
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
  }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 15vh;
  background-color: black;
  color: black
}

header > h1 {
  background-color: white;
  padding: 10px 10px 10px 50px;
  margin: 20px 20px 20px 0px;
}

header > nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav > a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
  background-image: linear-gradient(270deg, blue 0%, purple 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.5s ease-in;
  font-size: 1.8rem;
}

nav a:hover {
  background-size: 100% 100%;
  color: red;
}

main {
  margin: 45px 20px;
  border: yellowgreen 2px solid;
  display: flex;
  flex-direction: column;
}

.hero-banner {
  background-image: url("./images/diana-banner.jpg"),
    linear-gradient(180deg, blue 0%, purple 100%);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 70vh;
  color: white;
  padding: 2% 6%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  font-size: larger;
  font-style: italic;
}

.content {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.content h2 {
  min-width: 30vw;
  font-size: 48px;
 
}

.content > div {
  border-left: 5px solid gold;
  margin-left: 10px;
}

#life  p {
    padding: 20px;
    text-align: left;
}

#charity > div {
    display: flex;
    padding: 50px;
    flex: 1 1 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
#charity div a {
    color: var(--tertiary);
    padding: 5px;
    text-decoration: none;
    
    background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;

    margin: 0 0.2rem 0.1rem;
   
  }

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
  }

.flex-item {
    border: 5px solid var(--secondary);
    border-radius: 15px;
    flex-basis: 25%;
    flex-grow: 1;
    color: var(--tertiary);
    min-height: 250px;
    /*max-height: 150px;
    flex-basis: calc(50% - 1em); */
    display: flex;
    /* align-items: flex-end; */
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    /* background-size: 150%; */
    transition: all 0.5s;
    font-size: 0.9rem;
   
  }

  /* #charity {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  } */

  .royal-wedding {
    background-image: url("./images/diana-wedding.jpg");
    background-size: cover;
  }

  .pic1{
    background-image: url("./images/diana\ 2.jpg");
    background-size: cover;
  }

  .pic2{
    background-image: url("./images/diana\ 3.jpg");
    background-size: cover;
  }

  .pic3{
    background-image: url("./images/diana\ 4.jpg");
    background-size: cover;
  }

  .pic4{
    background-image: url("./images/diana\ 5.jpg");
    background-size: cover;
  }

  .pic5{
    background-image: url("./images/diana\ 6.jpg");
    background-size: cover;
  }

  .pic6{
    background-image: url("./images/diana\ 7.jpg");
    background-size: cover;
  }

  .pic7{
    background-image: url("./images/diana\ 10.jpg");
    background-size: cover;
  }

  .pic8{
    background-image: url("./images/diana\ 9.jpg");
    background-size: cover;
  }

  

  .flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

@media screen and (max-width: 980px) {
header {
    flex-direction: column;
}

main {
    flex-direction: column;
}

.flex-container {
    flex-direction: column;
    flex-basis: 100%;
}

.flex-item:first-child {
    min-height: 150px;
    flex-basis: 100%;
}


}