/*abstracting out common css variables to be accessed as functions*/
:root {
  --blue: #2a607c;
  --white: #ffffff;
}

/* universal css properties for box borders*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*setting background image for body*/
body {

    background-image: url("../images/metallic-image.jpg");
}
 
/*setting styling for header navigation*/
header {
    padding: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--blue);
    background-image: url("../images/HeaderBanner.png");
    color: var(--white);
    margin-bottom: 20px;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--white);
    text-decoration: none;
}
/*Setting the main content styles, By leveraging the flex properties.
This is for aboutMe row styled into two containers.
*/
.flex-container-aboutMe {
    display: flex;
  }

.flex-container-aboutMe > div.aboutMeText {
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    flex-basis: 70%;
    flex: 1 1 20em; 
    align-content: center;
  } 


.flex-container-aboutMe > div.AboutMeTitle {
    margin: 10px;
    padding: 10px;
    flex-basis: 30%;
    border-right-style: solid;
    text-align: center;
    line-height: 200px;
    font-size: 50px;
    flex: 1 1 20em; 
  } 
/*Setting the main content styles, By leveraging the flex properties.
This is for work row styled into two containers.
*/
.flex-container-work {
    display: flex;
  }

.flex-container-work > div.AboutWorkTitle {
    margin: 10px;
    padding: 10px;
    border-right-style: solid;
    text-align: center;
    line-height: 200px;
    font-size: 50px;
    width: 285.67px;
    flex-basis: 30%
}

.flex-container-work > div.AboutWorkText {
    margin: 10px;
    padding: 10px;
    flex-grow: 2;
    flex-basis: 70%;
  } 

/*Setting the main content styles, By leveraging the flex properties.
This is for aboutMe row styled into two containers.
*/
  .flex-container-contact {
    display: flex;
  }

  .flex-container-contact > div.ContactTitle {
    margin: 10px;
    padding: 10px;
    border-right-style: solid;
    text-align: center;
    line-height: 200px;
    font-size: 50px;
    width: 285.67px;
    flex-basis: 30%;
}

.flex-container-contact > div.ContactText {
    margin: 10px;
    padding: 10px;
    flex-grow: 2;
    flex-basis: 70%;
  } 

p {
    font-size: 16px;
    padding-bottom: 20px;
}

.products {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }

.card1 {
    box-shadow: 20px 20px 5px #413d3d;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    margin-bottom: 40px;
    padding: 50px;
    height: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("../images/Calculator.PNG");
    color: var(--white);
    transition: all 0.5s ease-in-out;
} 

.card1:hover,
.card1:hover {
  transform: scale(1.25); 
  box-shadow: inset 0px 0px 8px rgb(245, 241, 245), 0 0 15px rgb(149, 26, 206);
  position: relative;
  margin-top: -5px;
}

.card2 {
  box-shadow: 20px 20px 5px #413d3d;
    border-style: solid;
  border-width: 1px;
  border-radius: 50px;
    margin-bottom: 20px;
    padding: 50px;
    height: 150px;
    width: 40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("../images/DigiConnect.PNG");
    color: var(--white);
} 

.card2:hover,
.card2:hover {
  transform: scale(1.25);
  box-shadow: inset 0px 0px 8px rgb(245, 241, 245), 0 0 15px rgb(149, 26, 206);
  position: relative;
  margin-top: -5px;
}

.card3 {
  box-shadow: 20px 20px 5px #413d3d;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  margin-bottom: 20px;
  padding: 50px;
  height: 150px;
  width: 40%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url("../images/LED\ Wall.PNG");
  color: var(--white);
} 

.card3:hover,
.card3:hover {
  transform: scale(1.25);
  box-shadow: inset 0px 0px 8px rgb(245, 241, 245), 0 0 15px rgb(149, 26, 206);
  position: relative;
  margin-top: -5px;
}

.card4 {
  box-shadow: 20px 20px 5px #413d3d;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  margin-bottom: 20px;
  padding: 50px;
  height: 150px;
  width: 40%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffffff;
  background-image: url("../images/MeanStack.PNG");
} 

.card4:hover,
.card4:hover {
  transform: scale(1.25);
  box-shadow: inset 0px 0px 8px rgb(245, 241, 245), 0 0 15px rgb(149, 26, 206);
  position: relative;
  margin-top: -5px;
}

.card5 {
  box-shadow: 20px 20px 5px #413d3d;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
    margin-bottom: 20px;
    padding: 50px;
    height: 150px;
    width: 40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    background-image: url("../images/MeanStack.PNG");
} 

.card5:hover,
.card5:hover {
  transform: scale(1.25);
  box-shadow: inset 0px 0px 8px rgb(245, 241, 245), 0 0 15px rgb(149, 26, 206);
  position: relative;
  margin-top: -5px;
}

div.ContactText {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.ContactText nav ul {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  list-style-type: none;
} 

div.ContactText nav ul li {
    margin-left: 40px;   
}

div.ContactText nav ul li a{
    color: #0e0c0c;
    text-decoration: underline;
} 

/*
Styling for footer for padding, text font and alignment.
*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

@media screen and (min-width: 768px) {
  /* for tablets, setting width for 50% */
  .cont { 
    flex: 0 0 50%;
    max-width: 50%;
  }

  /*last child to grow to full width if it has space to grow */
  .cont:last-child {
    flex-grow: 1;
  }

  /* media query for larger screens */
@media screen and (min-width: 992px) {

.cont {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

}
